.profile__edit-button {
  max-height: 24px;
  transition: opacity 0.3s;
  margin-bottom: 16px;
}
.profile__edit-button:hover {
  opacity: 0.5;
  cursor: url("../../../images/cursor.png"), auto;
}

@media (max-width: 630px) {
  .profile__edit-button {
  width: 18px;
  height: 18px;
  margin-bottom: 19px;
  }
}
