.element__image {
  height: 282px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0px 0px;
  display: block;
  transition: opacity 0.3s linear, transform 0.3s linear;
}

.element__image:hover {
  cursor: url("../../../images/cursor.png"), auto;
  transform: scale(1.1) translateY(-4.5%);
  opacity: 0.85;
}
