.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  align-self: center;
  background-color: #000000;
  transition: opacity 0.3s;
  outline: none;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  font-size: 40px;
  border-radius: 1px;
}

.profile__add-button:hover {
  opacity: 0.5;
  cursor: url("../../../images/cursor.png"), auto;
}

@media (max-width: 630px) {
  .profile__add-button {
    width: 100%;
  }
}