.elements {
  width: calc(100% - 199px * 2);
  margin: auto;
}

@media (max-width: 950px) {
  .elements {
    width: calc(100% - 25px * 2);
  }
}

@media (max-width: 630px) {
  .elements {
    width: calc(100% - 19px * 2);
  }
}
