.popup__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  transition: opacity 0.3s;
}

.popup__close-button:hover {
  opacity: 0.8;
  cursor: url("../../../images/cursor.png"), auto;
}

@media (max-width: 630px) {
  .popup__close-button {
    width: 35px;
    height: 35px;
    top: -47px;
    right: 0;
  }
}