.element__like-button {
  margin: 5px 7px 0 0;
  width: 21px;
  height: 18px;
  outline: none;
  background: none;
  border: none;
  transition: opacity 0.3s;
  background: url("../../../images/like.svg") no-repeat;
}

.element__like-button:hover {
  opacity: 0.5;
  cursor: url("../../../images/cursor.png"), auto;
}