.element__like-button {
  font-size: 24px;
  outline: none;
  background: none;
  border: none;
  transition: opacity 0.3s;
}

.element__like-button:hover {
  opacity: 0.5;
  cursor: url("../../../images/cursor.png"), auto;
}