.element {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  max-width: 282px;
}

@media (max-width: 1279px) {
  .element {
    max-width: 250px;
  }
}

@media (max-width: 1199px) {
  .element {
    max-width: 350px;
  }
}
