.element__like-button {
  margin: 5px 0 3px 0;
  width: 21px;
  height: 18px;
  outline: none;
  border: none;
  transition: transform 0.3s;
  background: url("../../../images/like.svg") no-repeat;
  align-self: start;
}

.element__like-button:hover {
  opacity: 0.5;
  cursor: url("../../../images/cursor.png"), auto;
  transform: scale(1.2);
}